#addcar,
#editcar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addcar > div,
#editcar > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#addcar > button,
#editcar > button {
  margin-top: 20px;
}
