@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  padding: 0.5rem;
}
button,
input {
  font-family: inherit;
}

header {
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

header > h1 > a,
header > h1 > a:visited {
  color: #000000;
  text-decoration: none;
}

#login-container {
  display: flex;
  gap: 0.5rem;
}

main {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 3rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 15rem;
}

.input-container > input {
  font-size: inherit;
  padding: 0.25rem;
  width: 100%;
}

.input-container > label {
  text-align: left;
}

.login-form > button {
  font-size: inherit;
  width: 15rem;
  padding: 0.5rem;
}

.login-form > p {
  text-align: center;
}

#addcar,
#editcar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addcar > div,
#editcar > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#addcar > button,
#editcar > button {
  margin-top: 20px;
}

footer {
  margin-top: 2rem;
  padding-top: 0.5rem;
  border-top: 1px solid #666666;
  font-size: 0.825rem;
}
s {
  color: #666666;
}
